::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgb(0, 0, 0);
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:     rgb(0, 0, 0);
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgb(0, 0, 0);
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgb(0, 0, 0);
 }

 body {
    background: rgba(0, 0, 0, 0.95);
}

.menu{
    margin-top: 20%;
}

 .DialogMenu {  
    width: 480px;
    height: 640px; 
    background: rgba(0, 0, 0, 0.95);
}

.btnMenu {
    display:block;
    margin: auto;
    margin-top: 10px;
    width: 40%;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(26, 115, 123, 0.993);
    font-size: 130%; 
}

.btnMenu:hover {
    box-shadow:         0 0 20px #22a2b9;
    -moz-box-shadow:    0 0 20px #22a2b9;
    -o-box-shadow:      0 0 20px #22a2b9;
    -ms-box-shadow:     0 0 20px #22a2b9;
    -webkit-box-shadow: 0 0 20px #22a2b9;  
}

.DialogUserName {  
    background: rgba(0, 0, 0, 0.95);
    width: 480px;
    height: 640px; 
}

.UserName{
    margin-top: 20%;
}

.btnUserName {
    display:block;
    margin: auto;
    margin-top: 10px;
    width: 190px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(26, 115, 123, 0.993);
    font-size: 130%;    
}

.btnUserNameinput {
    display:block;
    margin: auto;
    margin-top: 10px;
    width: 130px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(26, 115, 123, 0.993);
    font-size: 130%;
    padding-left: 60px;    
}

.btnUserName:hover {
    box-shadow:         0 0 20px #22a2b9;
    -moz-box-shadow:    0 0 20px #22a2b9;
    -o-box-shadow:      0 0 20px #22a2b9;
    -ms-box-shadow:     0 0 20px #22a2b9;
    -webkit-box-shadow: 0 0 20px #22a2b9; 
}

canvas {   
    cursor:none; 
    margin:  auto; 
}

.DialogGame {  
    
    padding: 0px;  
    border: 0px;
    min-height: 100px;
    min-width: 100px;   
}

.DialogPaused {
    
    margin: auto;
    margin-top: 200px;
    width: 100px;
    height: 200px; 
    background: rgba(0, 0, 0);

}

.btnGame {

    display:block;
    margin-right: 0px;
    margin-top: 10px;
    width: 100%;
    height: 20%;
    border-radius: 20px;
    background-color: rgba(26, 115, 123, 0.993);
    font-size: 90%; 
    padding-left: 5px;
    
}

.btnGame:hover {
    box-shadow:         0 0 20px #22a2b9;
    -moz-box-shadow:    0 0 20px #22a2b9;
    -o-box-shadow:      0 0 20px #22a2b9;
    -ms-box-shadow:     0 0 20px #22a2b9;
    -webkit-box-shadow: 0 0 20px #22a2b9; 
}

.DialogPausedLabel{
    display:block;
    margin-left: 7px;
    margin-top: 10px;
    width: 60%;
    height: 12%;
    border-radius: 40px;
    background-color: rgba(26, 115, 123, 0.993);
    font-size: 90%; 
    padding-left: 25px; 
}

.DialogInGame {  

    width: 480px;
    min-height: 100px;
    display:block;
    background-color: rgb(44, 44, 44);  
    margin-top: 680px;
}

.DialogGameOver {
    margin: auto;
    margin-top: 200px;
    width: 100px;
    height: 200px; 
    background: rgba(0, 0, 0);
   
}
.DialogChekGameSetings {  
    width: 200px;
   
    
    background-color: rgb(44, 44, 44);  
    margin-top: 0px;
    margin-left: 0px;
    min-height: 100px;
}

.DialogChek {

    /* display:block; */
    
    margin-top: 10px;
    /* margin-bottom: 10px; */
    width: 30px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(26, 115, 123, 0.993);
    font-size: 90%; 
    padding-left: 10px;
    
    
}

.DialogChekLabel {
      display:block; 
    
     margin-top: 30px;
     /* margin-bottom: 10px; */
     width: 70%;
     height: 20px;
     border-radius: 20px;
     background-color: rgba(26, 115, 123, 0.993);
     font-size: 90%; 
     padding-left: 70px;
}

#kk{
    display:block;
    
    margin-top: 10px;
    /* margin-bottom: 10px; */
    width: 100%;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(26, 115, 123, 0.993);
    font-size: 90%; 
    padding-left: 5px;  
}

#kk:hover{
    box-shadow:         0 0 20px #22a2b9;
    -moz-box-shadow:    0 0 20px #22a2b9;
    -o-box-shadow:      0 0 20px #22a2b9;
    -ms-box-shadow:     0 0 20px #22a2b9;
    -webkit-box-shadow: 0 0 20px #22a2b9; 
}

.DialogChek:hover {
    box-shadow:         0 0 20px #22a2b9;
    -moz-box-shadow:    0 0 20px #22a2b9;
    -o-box-shadow:      0 0 20px #22a2b9;
    -ms-box-shadow:     0 0 20px #22a2b9;
    -webkit-box-shadow: 0 0 20px #22a2b9; 
}

#labelPidor{
    width: 100%;
    height: 30px;
   
    background-color: rgba(26, 115, 123, 0.993);
    font-size: 90%; 
    padding-left: 5px;
}

.btnGameOver{
    display:block;
    margin-right: 0px;
    margin-top: 10px;
    width: 100%;
    height: 30%;
    border-radius: 20px;
    background-color: rgba(26, 115, 123, 0.993);
    font-size: 90%; 
    padding-left: 5px;
}



.btnGameOver:hover {
    box-shadow:         0 0 20px #22a2b9;
    -moz-box-shadow:    0 0 20px #22a2b9;
    -o-box-shadow:      0 0 20px #22a2b9;
    -ms-box-shadow:     0 0 20px #22a2b9;
    -webkit-box-shadow: 0 0 20px #22a2b9; 
}

#UserName {
    background-color: fff;
}



#UserScore{
    background-color: fff;
}

#UserLVL{
    background-color: fff; 
}

#UserMoney{
   background-color: fff;
}

.btnbuy{
    
  
    width: 30%;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(26, 115, 123, 0.993);
    font-size: 70%; 
    padding-left: 5px;
}