canvas {
    
     cursor:none; 
    margin:  auto;
    
   
}

body {
    background: rgba(0, 0, 0, 0.95);
}

.btnMenu {
    display:block;
    margin: auto;
    margin-top: 10px;
    width: 100px;
    height: 50px;
}

.DialogMenu {
    
    
    width: 480px;
    height: 640px; 
   
    background: rgba(0, 0, 0, 0.95);
}

.DialogGame {  
    width: 480px;
    height: 640px;
    padding: 0px;  
    border: 0px; 
}

.DialogUserName {  
   
    width: 480px;
    height: 640px; 
    padding: 0;
}

.DialogPaused {
    margin: auto;
    margin-top: 200px;
    width: 100px;
    height: 200px; 
}